[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-protodef"]
	path = bundle/vim-protodef
	url = https://github.com/ewiplayer/vim-protodef.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-showmarks"]
	path = bundle/vim-showmarks
	url = https://github.com/garbas/vim-showmarks.git
[submodule "bundle/vim-sudoedit"]
	path = bundle/vim-sudoedit
	url = https://github.com/chrisbra/SudoEdit.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-c"]
	path = bundle/vim-c
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/vim-unicode"]
	path = bundle/vim-unicode
	url = https://github.com/chrisbra/unicode.vim.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-latexsuite"]
	path = bundle/vim-latexsuite
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/vim-vimshell"]
	path = bundle/vim-vimshell
	url = https://github.com/vim-scripts/vimshell-ssh.git
[submodule "bundle/vim-checklist"]
	path = bundle/vim-checklist
	url = https://github.com/vim-scripts/checklist.vim.git
[submodule "bundle/vim-csv"]
	path = bundle/vim-csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim-speeddating"]
	path = vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
